<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sector %>
    <%= collection_select(:employee, :sector_id, Sector.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :employee_age %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :employee_role %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= collection_check_boxes(:employee, :skill_ids, Skill.all, :id, :name) do |b| %>
	<%= b.label(class:"label-checkbox") { b.check_box + b.text } %>
	<% end %>
  </div>
  
  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :employee_active %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Employee', :class => 'btn btn-primary' %>
  </div>
<% end %>
