<p id="notice"><%= notice %></p>

<h2>Employees</h2>

<%= link_to new_employee_path, :class => "btn btn-success" do %>
	<i class="fa fa-plus"></i> New Employee
<% end %>

<div class="search-right">
	<%= form_tag employees_path, :method => :get do %>
		<%= text_field_tag :search, params[:search], class: 'form-control' %>
		<%= button_tag type: "submit", class: "btn btn-primary" do %>
			<i class="fa fa-search"></i> Search
		<% end %>
	<% end %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sortable "sector.name", "Sector" %></th>
      <th scope="col"><%= sortable "name" %></th>
      <th scope="col"><%= sortable "age" %></th>
      <th scope="col"><%= sortable "role" %></th>
      <th scope="col"><%= sortable "status" %></th>
      <th scope="col" class="col-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.sector.name %></td>
        <td><%= employee.name %></td>
        <td><%= employee.age %></td>
        <td><%= employee.role %></td>
        <td><%= employee.active %></td>
        <td class="text-center">
			<%= link_to employee, :class => "btn btn-default" do %> 
				<i class="fa fa-eye"></i> Show
			<% end %>
			<%= link_to edit_employee_path(employee), :class => "btn btn-primary" do %> 
				<i class="fa fa-edit"></i> Edit
			<% end %>
			<%= link_to employee, method: :delete, data: { confirm: "Are you sure you want to remove?" }, :class => "btn btn-danger" do %> 
				<i class="fa fa-trash"></i> Delete
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pag-right">
	<%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
</div>

