<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @employee.sector.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role %>
</p>

<p>
  <strong>Skill:</strong>
  <ul>
	<% @employee.skill.each do |skill| %>
		<li><%= skill.name %></li>
	<% end %>
  </ul>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.active %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
