<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-form col-sm-5">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="actions">
        	<%= link_to :back, :class => "btn btn-default" do %>
        		<i class="fa fa-arrow-left"></i> Back
        	<% end %>
          <%= button_tag type: 'submit', class: 'btn btn-success' do %>
        		<i class="fa fa-hdd-o"></i> Update
        	<% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2>Cancel Account</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-form col-sm-5">
      <div class="actions">
        Do you want to cancel your account?<br><br>
        <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' do %>
          <i class="fa fa-trash"></i> Cancel my account
        <% end %>
      </div>
    </div>
  </div>
</div>
