<%= form_with(model: sector, local: true) do |form| %>
  <% if sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sector_name, class: 'form-control' %>
  </div>

  <div class="actions">
	<%= link_to sectors_path, :class => "btn btn-default" do %> 
		<i class="fa fa-arrow-left"></i> Back
	<% end %>
    <%= button_tag type: 'submit', class: 'btn btn-success' do %> 
		<i class="fa fa-hdd-o"></i> Save
	<% end %>
  </div>
<% end %>
