<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="title-login">Forgot Password</h3>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="actions">
        <%= link_to "/", :class => "btn btn-outline-secondary" do %>
          <i class="fa fa-arrow-left"></i> Back
        <% end %>
        <%= button_tag type: 'submit', class: 'btn btn-danger' do %>
          <i class="fa fa-envelope"></i> Send reset password
        <% end %>
      </div>
    </div>
  </div>
<% end %>
