<!DOCTYPE html>
<html>
  <head>
    <title>Office</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div id="menu">
		<%= link_to "EMPLOYEES", employees_path %> |
		<%= link_to "SKILLS", skills_path %> |
		<%= link_to "SECTORS", sectors_path %>
	</div>
	
    <%= yield %>
  </body>
</html>
